version: 3.8

services:
  aerospike:
    image: aerospike/aerospike-server:latest
    container_name: aerospike
    ports:
      - 3000:3000
      - 3001:3001
      - 3002:3002
    restart: unless-stopped

  tools:
    image: aerospike/aerospike-tools:latest
    depends_on:
      - aerospike
    entrypoint:
      [
        bash,
        -lc,
        echo 'Use: docker compose run --rm tools aql -h aerospike' && sleep infinity,
      ]
